.pokeList {
    text-align: center;
}

.buttonsList {
    margin-top: 10px;
    text-align: center;
}

button {
    margin: 5px;
    background-color: blue;
    border: none;
    color: white;
}

.blueButtons {
    margin: 5px;
    border-radius: 5px;
}